
<root id="root">
    <weapp>
        <common>
            <goods_sn>商品号</goods_sn>
            <shop>所在店铺</shop>
            <user>使用者</user>
            <price>单价</price>
            <rest>剩余时长</rest>
        </common>
        <pages>
            <!--主页-->
            <index>
                <!--扫码按钮文字-->
                <scan>扫码租赁</scan>
                <!--扫码按钮下方提示文字-->
                <scan-notice>保护病人财产安全，扫码前请填写信息</scan-notice>
            </index>
            <!--服务页-->
            <service>
                <!--订单中心按钮文字-->
                <order-button-text>订单中心</order-button-text>
                <!--订单中心按钮提示-->
                <order-button-text-1>您有待确认的订单</order-button-text-1>
                <order-button-text-2>您有计费中的订单</order-button-text-2>
                <order-button-text-3>您有待确认的订单</order-button-text-3>
                <!--当前业务状态提示-->
                <status-0>请扫码用车</status-0>
                <status-1>等待工作人员确认使用...</status-1>
                <status-2>正在用车...</status-2>
                <status-3>等待工作人员确认还车...</status-3>
                <!--申请还车提示-->
                <apply-return-notice>工作人员确认还车后方可再次用车</apply-return-notice>
                <!--没有进行中的订单提示-->
                <status-0-bottom>没有正在进行中的订单</status-0-bottom>
            </service>
            <!--个人页-->
            <ucenter>
                <!--城市选择按钮文字-->
                <city-choose-button>所在城市</city-choose-button>
                <!--商铺选择按钮文字-->
                <shop-choose-button>所在医院</shop-choose-button>
                <!--商铺位置标题-->
                <shop-position-title>医院位置</shop-position-title>
                <!--设备描述标题-->
                <shop-desc-title>设备描述</shop-desc-title>
                <!--个人信息标题-->
                <columns-title>领取人及患者信息</columns-title>
                <columns>
                    <real_name>领取人姓名</real_name>
                    <gender>领取人性别</gender>
                    <mobile>联系方式</mobile>
                    <card_id>身份证号</card_id>
                    <user-real-name>使用者姓名</user-real-name>
                    <user-position>使用者位置</user-position>
                </columns>
            </ucenter>
        </pages>
    </weapp>
</root>